<div class="container">
    <h1>Quotes</h1>

    <app-quote-details [quote]="selectedQuote"></app-quote-details>

    <app-quote-form (quoteAdded)="onQuoteAdded($event)"></app-quote-form>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Quote</th>
                    <th>Author</th>
                    <th>Days</th>
                    <th><i class="fas fa-thumbs-up"></i></th>
                    <th><i class="fas fa-thumbs-down"></i></th>
                    <th colspan="5">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quote of quotes">
                    <td>{{quote.description}}</td>
                    <td>{{quote.author}}</td>
                    <td>{{quote.createdOn | dateCount}}</td>

                    <td><span [appHighlight]="quote.upVotes === maxUpVotes">{{quote.upVotes}}</span></td>

                    <td>{{quote.downVotes}}</td>


                    <td><button type="button" class="btn btn-success" (click)="onSelect(quote)"><i class="fas fa-info-circle"></i></button></td>
                    <td><button type="button" class="btn btn-success" (click)="onSelect(quote)"><i class="far fa-edit"></i></button></td>
                    <td><button type="button" class="btn btn-success" (click)="onDelete(quote)"><i class="fas fa-trash"></i></button></td>
                    <td><button type="button" class="btn btn-success" (click)="incrementUpVotes(quote)"><i class="fas fa-thumbs-up"></i></button></td>
                    <td><button type="button" class="btn btn-success" (click)="incrementDownVotes(quote)"><i class="fas fa-thumbs-down"></i></button></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>