<div class="container">
    <h1>Quotes</h1>

    <app-quote-details [quote]="selectedQuote"></app-quote-details>

    <app-quote-form [addQuoteStatus]="addQuoteStatus" [quote]="quote" (quoteAdded)="onQuoteAdded($event)"></app-quote-form>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Quote</th>
                    <th>Author</th>
                    <th>Days</th>
                    <th><i class="fas fa-thumbs-up"></i></th>
                    <th><i class="fas fa-thumbs-down"></i></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quote of quotes">
                    <td>{{quote.description}}</td>
                    <td>{{quote.author}}</td>
                    <td>{{quote.createdOn | dateCount}}</td>

                    <td>
                        <button type="button" class="btn btn-success" (click)="incrementUpVotes(quote)" [appHighlight]="quote.upVotes === maxUpVotes">
                        <div class="nowrap">
                            <span >{{quote.upVotes}} </span> 
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                    </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-success" (click)="incrementDownVotes(quote)">
                            <div class="nowrap">
                                <span>{{quote.downVotes}} </span> 
                                <i class="fas fa-thumbs-down"></i>
                            </div>
                        </button>
                    </td>

                    <td>
                        <div class="nowrap">
                            <button type="button" class="btn btn-success" (click)="onSelect(quote)"><i class="fas fa-info-circle"></i></button>
                            <button type="button" class="btn btn-success" (click)="onEdit(quote)"><i class="far fa-edit"></i></button>
                            <button type="button" class="btn btn-success" (click)="onDelete(quote)"><i class="fas fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>