<div>
    <div class="form-group">
        <label for="quote">Quote</label>
        <input [(ngModel)]="quote.description" class="form-control">
    </div>

    <div class="form-group">
        <label for="author">Author</label>
        <input [(ngModel)]="quote.author" class="form-control">
    </div>

    <div class="form-group">
        <label for="Submitterd_by">Submitted By</label>
        <input [(ngModel)]="quote.submittedBy" class="form-control"><br>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success" (click)="addQuote()" [disabled]="addQuoteButtonStatus">Add Quote</button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" (click)="onReset()">Reset</button><br><br>
    </div>
</div>